
<div class="container-fluid">
  <div class="container">
    <header class="header center">
      <h2>Political Rivals</h2>
    </header>

    <body>

      <p class="center margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
        publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


     <!-- dashboard here -->

     <h4 class="dashboard">Dashboard will go here</h4>
<br>
<br>
      <div class="row">
    
        <div class="col-md-4 border spacing">
            <h4 class="color-white center">Take Survery</h4>
         
            <hr>
            <br>
       
            <button type="button" class="btn btn-outline-primary button-spacing button-left">Democrat</button>
        
            <button type="button" class="btn btn-outline-danger button-spacing button-right">Republican</button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6 border spacing">
            <h4 class="color-white center">Meet & Drink</h4>
            <hr>
            <br>
        
            <button type="button" class="btn btn-outline-secondary button-spacing">Set Meeting</button>
        </div>
      </div>
    
    </body>
    
  </div>
</div>


